:root {
	--main-bg-color: rgba(255,255,255,1.0);
	--code-bg-color: rgba(235,235,235,1.0);
	--controls-color: rgba(220,220,220,0.5);
	--warning-color: rgba(200,0,0,1.0);
	--warning-bg-color: rgba(200,0,0,0.2);
	--info-message-color: white;
	--warning-message-color: rgba(255,200,200,1.0);
	--drawer-height: 3.5rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	color: rgba(0,0,0,0.75);
	line-height: 1.5;
}

p {
	margin: 1em 0;
}

p:first-child {
	margin-top: 0;
}

a {
	color: initial;
	text-decoration: none;
}

pre {
	padding: 1em;
	overflow-x: auto;
}

pre, code {
	font-size: 0.9em;
	background-color: var(--code-bg-color);
}

img {
	max-width: 100%;
}

label {
	cursor: pointer;
}

ul {
	margin: 1em 0;
}

blockquote {
	padding: 0 2em;
	border-left: 1px solid rgba(0,0,0,0.5);
}

table {
	width: 100%;
	text-align: left;
}

details summary:hover {
	cursor: pointer;
}

button {
	min-width: 6em;
}

iframe {
	max-width: 100%;
}

hr {
	margin: 1em 0;
	color: rgba(0,0,0,0.25);
}

a:hover, label.button:hover {
	opacity: 0.5;
}

#viewport {
	background-color: var(--main-bg-color);
	position: absolute;
	display: flex;
	top: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 0 25px rgba(0,0,0,0.1);
	transition: transform 0.3s ease;
}

input#drawer-toggle:checked ~ #viewport {
	transform: translateY(var(--drawer-height));
}

label#drawer-toggle {
	z-index: 99;
	font-size: 2rem;
	margin: 2rem;
	line-height: 0.5;
	padding-top: 0.2rem;
	position: fixed;
	top: 0;
	right: 0;
	cursor: pointer;
}

label#drawer-toggle:before {
	content: "+";
}

input#drawer-toggle:checked ~ #viewport label#drawer-toggle {
	transform: rotate(45deg);
}

input::placeholder {
	color: rgba(0,0,0,0.25);
}

label#menu-toggle {
	z-index: 100;
	display: none;
	position: fixed;
	top: 0;
	margin: 2rem;
	padding-top: 0.2rem;
	line-height: 0.5;
	font-size: 2rem;
	cursor: pointer;
}

label#menu-toggle:before {
	content: "=";
}

header {
	flex-shrink: 0;
	height: 2em;
	margin-bottom: 1em;
}

header h1 {
	font-size: initial;
}

footer {
	margin: auto 0 0;
	flex-shrink: 0;
}

main {
	width: 100%;
	overflow: scroll;
	padding: 2rem;
	padding-right: 4rem;
	background-color: var(--main-bg-color);
}

main h1 {
	font-size: 1em;
	margin-bottom: 1rem;
}

main h2 {
	font-size: initial;
	margin-top: 3rem;
}

main h3 {
	font-size: initial;
	font-weight: initial;
	color: rgba(0,0,0,0.5);
}

#viewport.foh main ul {
	padding-left: 2em;
}

main textarea {
	margin: 1em 0;
}

#sidebar {
	z-index: 80;
	width: 24em;
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	padding: 2em;
	background-color: var(--main-bg-color);
}

#sidebar nav {
	flex-shrink: 0;
	margin: 2em 0;
}

#sidebar a {
	color: initial;
}

#sidebar ul {
	margin: 0;
	list-style: none;
}

#sidebar ul li label {
	cursor: pointer;
}

#sidebar details ul {
	padding-left: 1em;
}

#sidebar details summary {
	list-style: none;
}

#drawer {
	display: flex;
	overflow-x: hidden;
}

#drawer .panel {
	display: flex;
	min-width: 100%;
	height: var(--drawer-height);
	padding: 1em 2em;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-end;
	gap: 1em;
}

#drawer #join,
#drawer #login {
	transition: transform 0.5s ease;
}

input#drawer-switch-login:checked ~ #drawer #join,
input#drawer-switch-login:checked ~ #drawer #login {
	transform: translateX(-100%);
}

#drawer > a, #drawer > label {
	font-size: 0.9em;
	color: rgba(0,0,0,0.5);
}

label#message-close {
	display: none;
}

input#message-close:checked ~ label#message-close {
	display: block;
}

#qrcode {
	width: 135px;
}

#message {
	position: absolute;
	z-index: 100;
	top: 1rem;
	right: 2rem;
	padding: 1em 2em;
	animation: delay-fade-out 1s 2.5s forwards;
}

#message p {
	margin: 0;
}

#message.info {
	background: var(--info-message-color);
	border: 1px solid black;
}

#message.warning {
	color: rgba(100,0,0,1.0);
	background: var(--warning-message-color);
	border: 1px solid red;
}

@keyframes delay-fade-out {
	from { opacity: 1; }
	to { opacity: 0; visibility: hidden; }
}

#drawer .button a:hover {
	text-decoration: underline;
}

#drawer form {
	display: flex;
	gap: 1em;
}

#drawer .extras {
	margin-left: auto;
}

#drawer .extras #forgot-password {
	margin-left: 1em;
}

#drawer label.switch {
	cursor: pointer;
}

#drawer label#drawer-switch-login::after {
	content: " →";
}

#drawer label#drawer-switch-join::before {
	content: "← ";
}

#drawer ul {
	list-style-type: none;
	display: flex;
	gap: 1em;
	margin-left: auto;
}

#drawer ul li a#my-site::before {
	content: "← ";
}

#edit textarea {
	display: block;
	width: 100%;
	height: 70vh;
}

#edit button {
	width: 8em;
}

#edit textarea {
	font-size: 0.9em;
	font-family: monospace;
}

.blog-post {
	margin-bottom: 4em;
}

.help-q {
	margin-left: 1em;
}

.help-q:before {
	content: "(";
}

.help-q:after {
	content: ")";
}

#files #controls {
	display: flex;
	flex-wrap: wrap;
}

#files #upload {
	margin-left: auto;
}

#files #list details ul li {
	font-size: 0.9em
}

#files #list .warning {
	color: var(--warning-color);
}

#includes {
	margin: 1em 0;
}

fieldset {
	border: none;
	margin: 4px 0;
}

.backstage nav #filter-controls {
	display: flex;
	gap: 8px;
}

.backstage nav #controls #filter-controls label#additional-controls-toggle {
	margin-left: auto;
}

.backstage nav #controls #additional-controls {
	display: none;
	background-color: var(--controls-color);
	margin: 8px 0;
	padding: 8px;
}

.backstage nav input#additional-controls-toggle:checked ~ #additional-controls {
	display: block;
}

.backstage nav #controls input {
	width: 100%;
}

.backstage nav #additional-controls button {
	width: 100%;
}

.backstage nav a.exit {
	font-size: 0.9em;
}

.backstage nav a.exit:before {
	content: "← ";
}

.row {
	display: flex;
	gap: 1em;
}

.cell.name {
	flex-grow: 1;
}

#files #list {
	margin: 1em 0;
}

#files details {
	padding: 2px 4px;
}

#files details:hover, #files details[open] {
	background-color: var(--controls-color);
}

#files details ul {
	display: flex;
	gap: 0.5em 1em;
	list-style: none;
	padding: 4px;
}

#settings form ul {
	padding: 0;
}

#settings form ul li {
	padding: 2px 4px;
}

#settings form .cell {
	min-width: 18em;
}

#settings form ul li:hover, #settings form details:hover {
	background-color: var(--row-hover-color);
}

#settings details#delete-account {
	padding: 2px 4px;
}

#settings details#delete-account[open] {
	background-color: var(--warning-bg-color);
}

.left {
	margin-right: auto;
}

.right {
	margin-left: auto;
}

.center {
	margin: auto;
}

.one-column {
	max-width: 50em;
}

.wide {
	max-width: 100%;
}

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18em, max-content));
	gap: 1em;
}

.gallery-grid > p {
	margin: 0;
}

.gallery-horizontal {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	gap: 1em;
}

.gallery-horizontal > p {
	flex-grow: 0;
	flex-shrink: 0;
	width: 90%;
	margin: 0;
}

.ratio-3x2 img, .ratio-2x3, .ratio-8x10 img,
.ratio-10x8 img, .ratio-16x9 img, .ratio-1x1 img {
	width: 100%;
	object-fit: cover;
}

.ratio-3x2 img { aspect-ratio: 3 / 2; }
.ratio-2x3 img { aspect-ratio: 2 / 3; }
.ratio-8x10 img { aspect-ratio: 8 / 10; }
.ratio-10x8 img { aspect-ratio: 10 / 8; }
.ratio-16x9 img { aspect-ratio: 16 / 9; }
.ratio-1x1 img { aspect-ratio: 1 / 1; }

.parallax {
	perspective: 1px;
	overflow-y: auto;
	height: calc(100vh - 4rem);
}

.parallax-bg {
	transform: translateZ(-1px) scale(2);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.parallax-fg {
	transform: translateZ(0);
}

.button {
	cursor: pointer;	
}

@media (max-width: 800px) {
	#sidebar {
		position: fixed;
		width: 100%;
		height: 5em;
	}
	header {
		margin: 0 auto;
	}
	main {
		padding-top: 5rem;
		padding-right: 2rem;
	}
	#files .cell.stat {
		display: none;
	}
	label#menu-toggle {
		display: block;
	}
	input#menu-toggle:checked ~ #sidebar {
		z-index: 90;
		height: 100%;
		background-color: var(--main-bg-color);
	}
	input#menu-toggle:checked ~ label#menu-toggle {
		transform: rotate(45deg);
	}				
	input#menu-toggle:checked ~ label#menu-toggle:before {
		content: "+";
	}
	#files details ul {
		flex-direction: column;
	}
}

@media (max-width: 420px) {
	:root {
		--drawer-height: 6rem;
	}
}
