:root {
		--main-bg-color: rgba(255,255,255,1.0);
		--ui-panel-height: 3.5rem;
}

* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
}

body {
		font-family: sans-serif;
		font-size: 16px;
}

p {
		margin-bottom: 0.6em;
}

#viewport {
		background-color: var(--main-bg-color);
		position: fixed;
		display: flex;
		top: 0;
		width: 100%;
		height: 100%;
		box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);
		transition: transform 0.3s ease;
}

#ui-panel button {
		width: 6em;
}

input#ui-panel-toggle:checked ~ #viewport {
		transform: translateY(var(--ui-panel-height));
}

header label#ui-panel-toggle {
		transition: transform 0.5s ease;
}

input#ui-panel-toggle:checked ~ #viewport header label#ui-panel-toggle {
		transform: rotate(45deg);
}

#join input#join-username::placeholder {
		color: rgba(0,0,0,0.25);
}

header {
		position: fixed;
		display: flex;
		justify-content: space-between;
		top: 0;
		width: 100%;
		background: transparent;
}

header h1 {
		font-size: initial;
		font-weight: normal;
		margin: 2em;
		letter-spacing: 2px;
}

header h1 a {
		color: initial;
		text-decoration: none;
}

header label.button {
		font-size: 2rem;
		margin: 1.25rem 2rem;
		cursor: pointer;
}

header label#menu-toggle {
		display: none;
}

nav {
		width: 12em;
		margin: 4em 2em 0;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
}

nav a {
		color: initial;
		text-decoration: none;
}

nav label.button {
		cursor: pointer;
}

nav ul#bottom {
		margin: auto 0 2em;
}

#ui-panel {
		display: flex;
		overflow-x: hidden;
}

#ui-panel #join, #ui-panel #login {
		display: inline-block;
		min-width: 100%;
		transition: transform 0.5s ease;
}

input#ui-panel-switch-login:checked ~ #ui-panel #join {
		transform: translateX(-100%);
}

input#ui-panel-switch-login:checked ~ #ui-panel #login {
		transform: translateX(-100%);
}

#ui-panel .form-container {
		display: flex;
		margin: 1em;
}

#ui-panel .form-container form {
		margin: 0 auto;
}

#ui-panel label.switch {
		cursor: pointer;
}

#ui-panel label#ui-panel-switch-login::after {
		content: '→';
}

#ui-panel label#ui-panel-switch-join::before {
		content: '←';
}

#ui-panel form {
		display: inline-block;
}

#ui-panel form div {
		display: inline-block;
}

#ui-panel a, #ui-panel label {
		font-size: 0.9em;
		color: rgba(0,0,0,0.5);
}

main {
		z-index: 100;
		padding: 2em;
		overflow: scroll;
}

main h1 {
		font-size: initial;
		margin-bottom: 1em;
}

main .one-column {
		max-width: 45em;
}

@media only screen and (max-width: 800px) {
		:root {
				--ui-panel-height: 8.5rem;
		}
		header label#menu-toggle {
				display: block;
		}
		main {
				padding-top: 6rem;
		}
		nav {
				display: none;
		}
}
