:root {
		--main-bg-color: rgba(255,255,255,1.0);
		--ui-panel-height: 3.5rem;
}

* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
}

body {
		font-family: sans-serif;
		font-size: 16px;
		color: rgba(0,0,0,0.75);
		line-height: 1.5;
}

p {
		margin-bottom: 1em;
}

a {
		color: initial;
}

code {
		font-size: 0.9em;
}

a:hover {
		opacity: 0.5;
}

#viewport {
		background-color: var(--main-bg-color);
		position: fixed;
		display: flex;
		top: 0;
		width: 100%;
		height: 100%;
		box-shadow: 0 0 0.5rem rgba(0,0,0,0.25);
		transition: transform 0.3s ease;
}

#ui-panel button {
		width: 6em;
}

input#ui-panel-toggle:checked ~ #viewport {
		transform: translateY(var(--ui-panel-height));
}

label#ui-panel-toggle {
		z-index: 90;
		font-size: 2rem;
		margin: 2rem;
		line-height: 0.5;
		position: fixed;
		top: 0;
		right: 0;
		cursor: pointer;
}

label#ui-panel-toggle:before {
		content: '+';
}

input#ui-panel-toggle:checked ~ #viewport label#ui-panel-toggle {
		transform: rotate(45deg);
}

#join input#join-username::placeholder {
		color: rgba(0,0,0,0.25);
}

header {
		display: flex;
}

header h1 {
		font-size: initial;
		font-weight: normal;
		letter-spacing: 2px;
}

header h1 a {
		color: initial;
		text-decoration: none;
}

label#menu-toggle {
		z-index: 100;
		display: none;
		position: fixed;
		top: 0;
		margin: 2rem;
		line-height: 0.5;
		font-size: 2rem;
		cursor: pointer;
}

label#menu-toggle:before {
		content: "=";
}

#sidebar {
		width: 24rem;
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		padding: 2rem;
}

#sidebar a {
		color: initial;
		text-decoration: none;
}

#sidebar ul {
		list-style: none;
}

nav label.button {
		cursor: pointer;
}

footer {
		margin: auto 0 0;
}

#ui-panel {
		display: flex;
		overflow-x: hidden;
}

#ui-panel #join, #ui-panel #login {
		min-width: 100%;
		transition: transform 0.5s ease;
}

input#ui-panel-switch-login:checked ~ #ui-panel #join {
		transform: translateX(-100%);
}

input#ui-panel-switch-login:checked ~ #ui-panel #login {
		transform: translateX(-100%);
}

#ui-panel .form-container {
		display: flex;
		margin: 1em;
}

#ui-panel .form-container form {
		margin: 0 auto;
}

#ui-panel label.switch {
		cursor: pointer;
}

#ui-panel label#ui-panel-switch-login::after {
		content: '→';
}

#ui-panel label#ui-panel-switch-join::before {
		content: '←';
}

#ui-panel form {
		display: inline-block;
}

#ui-panel form div {
		display: inline-block;
}

#ui-panel a, #ui-panel label {
		font-size: 0.9em;
		color: rgba(0,0,0,0.5);
}

main {
		width: 100%;
		overflow: scroll;
		padding: 2rem;
}

main h1, main h2, main h3 {
		font-size: initial;
		margin-bottom: 1em;
}

#content .one-column {
		max-width: 45em;
}

@media only screen and (max-width: 800px) {
		:root {
				--ui-panel-height: 8.5rem;
		}
		#sidebar {
				position: fixed;
				width: 100%;
				height: 3rem;
		}
		header h1 {
				margin: auto;
		}
		main {
				padding-top: 5rem;
		}
		label#menu-toggle {
				display: block;
		}
		input#menu-toggle:checked ~ #sidebar {
				z-index: 99;
				height: 100%;
				background-color: white;
		}
		input#menu-toggle:checked ~ label#menu-toggle {
				transform: rotate(45deg);
		}
		input#menu-toggle:checked ~ label#menu-toggle:before {
				content: '+';
		}
}
