/* semantic styles */

:root {
	--main-bg-color: rgba(255,255,255,1.0);
	--code-bg-color: rgba(235,235,235,1.0);
	--controls-color: rgba(220,220,220,0.5);
	--warning-color: rgba(200,0,0,1.0);
	--warning-bg-color: rgba(200,0,0,0.2);
	--info-message-color: white;
	--warning-message-color: rgba(255,200,200,1.0);
	--drawer-height: 3.5rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	color: rgba(0,0,0,0.75);
	line-height: 1.5;
}

p {
	margin: 1em 0;
}

a {
	color: initial;
	text-decoration: none;
}

pre {
	padding: 1em;
	overflow-x: auto;
}

pre, code {
	font-size: 0.9em;
	background-color: var(--code-bg-color);
}

img {
	display: block;
	max-width: 100%;
}

label {
	cursor: pointer;
}

ul, ol {
	margin: 1em 0;
}

ul ul {
	margin: 0;
}

blockquote {
	padding: 0 2em;
	border-left: 1px solid rgba(0,0,0,0.5);
}

table {
	width: 100%;
	text-align: left;
}

details summary:hover {
	cursor: pointer;
}

details ul {
	margin: 0;
}

button {
	min-width: 6em;
}

iframe {
	max-width: 100%;
}

hr {
	margin: 1em 0;
	color: rgba(0,0,0,0.5);
}

input::placeholder {
	color: rgba(0,0,0,0.25);
}

/** structural semantic styles */

nav header, nav menu, nav footer {
	padding: 2rem;
}

nav {
	z-index: 80;
	width: 24em;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	background-color: var(--main-bg-color);
}

nav header {
	position: sticky;
	top: 0;
	padding-bottom: 3rem;
	flex-shrink: 0;
	height: 2rem;
	background-color: var(--main-bg-color);
}

nav header h1 {
	font-size: 1em;
}

nav footer {
	margin: auto 0 0;
	flex-shrink: 0;
}

nav ul {
	margin: 0;
	list-style: none;
}

nav ul li label {
	cursor: pointer;
}

nav details ul {
	padding-left: 1em;
}

nav details summary::before {
	content: none;
}

main {
	width: 100%;
	overflow: scroll;
	padding: 2rem;
	padding-right: 4rem;
	background-color: var(--main-bg-color);
}

main p:first-child {
	margin-top: 0;
}

main a {
	color: black;
	border-bottom: 1px solid;
}

main a:has(img) {
	border: none;
}

main h1 {
	font-size: 1em;
	margin-bottom: 1rem;
}

main h2 {
	font-size: 1em;
	margin-top: 3rem;
}

main h3 {
	font-size: 1em;
	font-weight: initial;
	color: rgba(0,0,0,0.5);
}

main ul, main ol {
	padding-left: 2em;
}

main textarea {
	margin: 1em 0;
}

/** structural classes */

.blog-post {
	margin-bottom: 4em;
}

/* site-wide control IDs */

#viewport {
	background-color: var(--main-bg-color);
	position: fixed;
	display: flex;
	inset: 0;
	box-shadow: 0 0 25px rgba(0,0,0,0.1);
	transition: transform 0.3s ease;
}

#drawer {
	visibility: hidden;
	transition: visibility 0.3s;
}

input#drawer-toggle:checked ~ #drawer {
	visibility: visible;
}

input#drawer-toggle:checked ~ #viewport {
	transform: translateY(var(--drawer-height));
}

#drawer a:hover {
	border-bottom: 1px solid;
}

#drawer form {
	display: flex;
	gap: 1em;
}

#drawer .extras {
	margin-left: auto;
}

#drawer .extras #forgot-password {
	margin-left: 1em;
}

#drawer label.switch {
	cursor: pointer;
}

#drawer label#drawer-switch-login::after {
	content: "\00A0\2192";
}

#drawer label#drawer-switch-join::before {
	content: "\2190\00A0";
}

label#drawer-toggle {
	z-index: 99;
	font-size: 2rem;
	margin: 2rem;
	line-height: 0.5;
	padding-top: 0.2rem;
	position: fixed;
	top: 0;
	right: 0;
	cursor: pointer;
}

label#drawer-toggle:before {
	content: "+";
}

input#drawer-toggle:checked ~ #viewport #drawer-toggle {
	transform: rotate(45deg);
}

label#nav-toggle {
	z-index: 100;
	display: none;
	position: fixed;
	top: 0;
	margin: 2rem;
	padding-top: 0.2rem;
	line-height: 0.5;
	font-size: 2rem;
	cursor: pointer;
}

label#nav-toggle:before {
	content: "=";
}

#drawer {
	display: flex;
	overflow-x: hidden;
}

#drawer .panel {
	display: flex;
	min-width: 100%;
	height: var(--drawer-height);
	padding: 1em 2em;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-end;
	gap: 1em;
	font-size: initial;
	font-family: sans-serif;
	font-weight: initial;
}

#drawer .panel a:hover {
	color: initial;
}

#drawer #join,
#drawer #login {
	transition: transform 0.5s ease;
}

input#drawer-switch-login:checked ~ #drawer #join,
input#drawer-switch-login:checked ~ #drawer #login {
	transform: translateX(-100%);
}

#drawer > a, #drawer > label {
	font-size: 0.9em;
	color: rgba(0,0,0,0.5);
}

/** messages */

#message {
	position: absolute;
	z-index: 100;
	top: 1rem;
	right: 2rem;
	padding: 1em 2em;
	animation: delay-fade-out 1s 2.5s forwards;
}

#message p {
	margin: 0;
}

label#message-close {
	display: none;
}

input#message-close:checked ~ label#message-close {
	display: block;
}

@keyframes delay-fade-out {
	from { opacity: 1; }
	to { opacity: 0; visibility: hidden; }
}

#message.info {
	background: var(--info-message-color);
	border: 1px solid black;
}

#message.warning {
	color: rgba(100,0,0,1.0);
	background: var(--warning-message-color);
	border: 1px solid;
}

/** 2FA  */

#qrcode {
	width: 135px;
}

/* backstage */

nav a.exit {
	font-size: 0.9em;
}

nav a.exit:before {
	content: "\2190\00A0";
}

/* Edit */

#edit textarea {
	display: block;
	width: 100%;
	height: 70vh;
}

#edit button {
	width: 8em;
}

#edit #includes {
	margin: 1em 0;
}

/* Lists (Files, Snapshots)  */

#list {
	margin: 1em 0;
}

#list .row .controls {
	margin: 0;
}

#list details {
	padding: 2px 4px;
}

#list details:hover, #list details[open] {
	background-color: var(--controls-color);
}

#list details ul {
	display: flex;
	gap: 0.5em 1em;
	list-style: none;
	padding: 4px;
}

#list details ul li {
	font-size: 0.9em
}

#list details ul li a.warning {
	color: var(--warning-color);
}

#list .commit-message, #list .date {
	white-space: nowrap;
	overflow: hidden;
}

#list .date {
	width: 26ex;
	text-align: right;
}

/* Files controls  */

nav #controls input {
	width: 100%;
}

nav #controls fieldset {
	border: none;
	margin: 4px 0;
}

nav #controls fieldset#filter-controls {
	display: flex;
	gap: 8px;
}

nav #controls #filter-controls label#additional-controls-toggle {
	margin-left: auto;
}

nav #controls #additional-controls {
	display: none;
	background-color: var(--controls-color);
	margin: 8px 0;
	padding: 8px;
}

nav input#additional-controls-toggle:checked ~ #additional-controls {
	display: block;
}

nav #additional-controls button {
	width: 100%;
	margin: 4px 0;
}

nav #additional-controls hr {
	margin: 10px;
}

nav #additional-controls a:hover {
	border-bottom: 1px solid;
}

/* Settings */

#settings form ul {
	padding: 0;
}

#settings form ul li {
	padding: 2px 4px;
}

#settings form .cell {
	min-width: 18em;
}

#settings form ul li:hover, #settings form details:hover {
	background-color: var(--row-hover-color);
}

#settings details#delete-account {
	padding: 2px 4px;
}

#settings details#delete-account[open] {
	background-color: var(--warning-bg-color);
}

/* layouts */

main:has(.cover) {
	padding: 0;
}

main:has(.cover) footer {
	padding: 2em;
}

.pad {
	padding: 2em;
}

.left {
	margin-right: auto;
}

.right {
	margin-left: auto;
}

.center {
	margin: auto;
}

.one-column {
	max-width: 46em;
}

.wide {
	max-width: 100%;
}

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18em, max-content));
	gap: 1em;
}

.gallery-grid > p {
	margin: 0;
}

.gallery-horizontal {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	gap: 1em;
}

.gallery-horizontal > p {
	flex-grow: 0;
	flex-shrink: 0;
	width: 90%;
	margin: 0;
}

.gallery-columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
}

.gallery-columns > p {
	margin: 0;
}

.ratio-3x2 img, .ratio-2x3, .ratio-8x10 img,
.ratio-10x8 img, .ratio-16x9 img, .ratio-1x1 img {
	width: 100%;
	object-fit: cover;
}

.ratio-3x2 img { aspect-ratio: 3 / 2; }
.ratio-2x3 img { aspect-ratio: 2 / 3; }
.ratio-8x10 img { aspect-ratio: 8 / 10; }
.ratio-10x8 img { aspect-ratio: 10 / 8; }
.ratio-16x9 img { aspect-ratio: 16 / 9; }
.ratio-1x1 img { aspect-ratio: 1 / 1; }

.parallax {
	perspective: 1px;
	overflow-y: auto;
	height: calc(100vh - 4rem);
}

.parallax.cover {
	height: 100vh;
}

.parallax-bg {
	transform: translateZ(-1px) scale(2);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.parallax-fg {
	transform: translateZ(0);
	background-color: var(--main-bg-color);
}

/* tables */

.table a {
	border: 1px solid transparent;
}

.table a:hover {
	border-bottom-color: currentcolor;
}

.table .row {
	display: flex;
	gap: 1em;
}

.table .row ul {
	margin: 0;
}

.table .row .cell.name {
	flex-grow: 1;
}

.table details > summary::before {
	display: none;
}

.table code {
	background-color: initial;
}

/* decorations */

.button {
	cursor: pointer;	
}

.help-q {
	margin-left: 1em;
}

.help-q:before {
	content: "(";
}

.help-q:after {
	content: ")";
}

/* iOS bugs */

details > summary {
    list-style: none;
    cursor: pointer;
}

details > summary::before {
    content: "\25B8";
    display: inline-block;
    margin-right: 0.4em;
}

details[open] > summary::before {
    transform: rotate(90deg);
}

/* small screens landscape */

@media (max-width: 800px) {
	nav {
		position: fixed;
		width: 100%;
		height: 5em;
	}
	header {
		text-align: center;
	}
	main {
		padding-top: 5rem;
		padding-right: 2rem;
	}
	#files .cell.stat {
		display: none;
	}
	label#nav-toggle {
		display: block;
	}
	input#nav-toggle:checked ~ nav {
		z-index: 90;
		height: 100%;
	}
	input#nav-toggle:checked ~ label#nav-toggle {
		transform: rotate(45deg);
	}				
	input#nav-toggle:checked ~ label#nav-toggle:before {
		content: "+";
	}
	#files details ul {
		flex-direction: column;
	}
}

/* small screens portrait */

@media (max-width: 420px) {
	:root {
		--drawer-height: 6rem;
	}
}


/* Local Variables: */
/* eval: (outline-minor-mode 1) */
/* outline-regexp: "\\/\\*" */
/* End: */
