/* semantic styles */

:root {
	--controls-color: rgba(220,220,220,0.5);
	--row-hover-color: rgba(220,220,220,0.5);
	--warning-color: rgba(200,0,0,1.0);
	--warning-bg-color: rgba(200,0,0,0.2);
	--info-message-color: white;
	--warning-message-color: rgba(255,200,200,1.0);
	--drawer-height: 3.5rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-size: 16px;
	color: rgba(0,0,0,0.75);
	background-color: white;
	line-height: 1.5;
}

p {
	margin: 1em 0;
}

a {
	color: black;
	text-decoration: none;
}

pre {
	margin: 1em 0;
	padding: 1em;
	overflow-x: auto;
}

pre, code {
	font-size: 0.9em;
	background-color: rgba(235,235,235,0.5);
	white-space: pre;
}

img {
	display: block;
	max-width: 100%;
}

label {
	cursor: pointer;
}

ul, ol {
	margin: 1em 0;
}

ul ul {
	margin: 0;
}

blockquote {
	padding: 0 2em;
	border-left: 1px solid rgba(0,0,0,0.5);
}

table {
	width: 100%;
	text-align: left;
}

details summary:hover {
	cursor: pointer;
}

details ul {
	margin: 0;
}

button {
	min-width: 6em;
}

iframe {
	max-width: 100%;
}

hr {
	margin: 1em 0;
	color: rgba(0,0,0,0.5);
}

input::placeholder {
	color: rgba(0,0,0,0.25);
}

/** structural semantic styles */

nav header, nav menu, nav footer {
	padding: 2rem;
}

nav {
	position: sticky;
	top: 0;
	z-index: 80;
	width: 24rem;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	background-color: inherit;
	transition: top 0.3s ease;
}

nav header {
	position: relative;
	top: 0;
	flex-shrink: 0;
	height: 5rem;
}

nav footer {
	margin: auto 0 0;
	flex-shrink: 0;
}

nav ul {
	margin: 0;
	list-style: none;
}

nav ul li label {
	cursor: pointer;
}

nav details ul {
	padding-left: 1em;
}

nav details summary::before {
	content: none;
}

main {
	width: 100%;
	overflow: scroll;
	padding: 2rem;
	padding-right: 4rem;
	background-color: inherit;
}

main p:first-child {
	margin-top: 0;
}

main a {
	border-bottom: 1px solid;
}

main a:has(img) {
	border: none;
}

h1 {
	font-size: 1em;
	margin-bottom: 1rem;
}

h2 {
	font-size: 1em;
	margin-top: 3rem;
}

h3 {
	font-size: 1em;
	font-weight: initial;
	color: rgba(0,0,0,0.5);
}

main ul {
	list-style: circle;
}

main ul, main ol {
	padding-left: 2em;
}

main textarea {
	margin: 1em 0;
}

/** structural classes */

.blog-post {
	margin-bottom: 4em;
}

/* site-wide control IDs */

#viewport {
	background-color: inherit;
	display: flex;
	padding-top: 0;
	transition: padding-top 0.3s ease;
}

#drawer {
	position: fixed;
	z-index: 90;
	visibility: hidden;
	top: 0;
	left: 0;
	right: 0;
	height: 0;
	background-color: white;
	box-shadow: inset 0 0 25px rgba(0,0,0,0.1);
	transition: height 0.3s ease, visibility 0.3s ease;
}

label#nav-toggle, label#drawer-toggle {
	position: fixed;
	top: 0;
	z-index: 99;
	padding: 2rem;
	padding-top: 2.2rem;
	font-size: 2rem;
	line-height: 0.5;
	font-family: sans-serif;
	font-weight: initial;
	transition: top 0.3s ease;
	cursor: pointer;
}

label#drawer-toggle {
	right: 0;
}

input#drawer-toggle:checked ~ #drawer {
	visibility: visible;
	height: var(--drawer-height);
}

input#drawer-toggle:checked ~ #viewport {
	padding-top: var(--drawer-height);
}

input#drawer-toggle:checked ~ #viewport #nav-toggle,
input#drawer-toggle:checked ~ #viewport #drawer-toggle,
input#drawer-toggle:checked ~ #viewport nav {
	top: var(--drawer-height);
}

input#drawer-toggle:checked ~ #viewport #drawer-toggle {
	transform: rotate(45deg);
}

#drawer a {
	border-bottom: 1px solid rgba(0,0,0,0);
	transition: border-bottom 0.5s ease;
}

#drawer a:hover {
	border-bottom: 1px solid rgba(0,0,0,1.0);
}

#drawer form {
	display: flex;
	gap: 1em;
}

#drawer .extras {
	margin-left: auto;
}

#drawer .extras #forgot-password {
	margin-left: 1em;
}

#drawer label.switch {
	cursor: pointer;
}

#drawer label#drawer-switch-login::after {
	content: "\00A0\2192";
}

#drawer label#drawer-switch-join::before {
	content: "\2190\00A0";
}

label#drawer-toggle:before {
	content: "+";
}

label#nav-toggle {
	display: none;
}

label#nav-toggle:before {
	content: "=";
}

#drawer {
	display: flex;
	overflow-x: hidden;
}

#drawer .panel {
	display: flex;
	min-width: 100%;
	height: var(--drawer-height);
	padding: 1em 2em;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: flex-end;
	gap: 1em;
	font-size: initial;
	font-family: sans-serif;
	font-weight: initial;
}

#drawer .panel a:hover {
	color: initial;
}

#drawer #join,
#drawer #login {
	transition: transform 0.5s ease;
}

input#drawer-switch-login:checked ~ #drawer #join,
input#drawer-switch-login:checked ~ #drawer #login {
	transform: translateX(-100%);
}

#drawer > a, #drawer > label {
	font-size: 0.9em;
	color: rgba(0,0,0,0.5);
}

/** messages */

#message {
	position: absolute;
	z-index: 100;
	top: 1rem;
	right: 2rem;
	padding: 1em 2em;
	animation: delay-fade-out 1s 2.5s forwards;
}

#message p {
	margin: 0;
}

label#message-close {
	display: none;
}

input#message-close:checked ~ label#message-close {
	display: block;
}

@keyframes delay-fade-out {
	from { opacity: 1; }
	to { opacity: 0; visibility: hidden; }
}

#message.info {
	background: var(--info-message-color);
	border: 1px solid black;
}

#message.warning {
	color: rgba(100,0,0,1.0);
	background: var(--warning-message-color);
	border: 1px solid;
}

/** 2FA  */

#qrcode {
	width: 135px;
}

/* backstage */

a.exit {
	font-size: 0.9em;
	border-bottom: none;
}

a.exit:before {
	content: "\2190\00A0";
}

/* Edit */

#edit #filename {
	width: 20rem;
	display: flex;
	gap: 8px;
}

#edit #filename input {
	width: 100%;
}

#edit textarea {
	display: block;
	width: 100%;
	height: 70vh;
}

#edit button {
	width: 8em;
}

#edit #includes {
	margin: 1em 0;
}

/* Lists (Files, Snapshots)  */

#list {
	margin: 1em 0;
}

#list .row .controls {
	margin: 0;
}

#list pre {
	margin: 0;
}

#list details {
	padding: 2px 4px;
}

#list details:hover, #list details[open] {
	background-color: var(--controls-color);
}

#list details ul {
	display: flex;
	gap: 0.5em 1em;
	list-style: none;
	padding: 4px;
}

#list details ul li {
	font-size: 0.9em
}

#list details ul li a.warning {
	color: var(--warning-color);
}

#list .commit-message, #list .date {
	white-space: nowrap;
	overflow: hidden;
}

#list .cell.date {
	width: 22ex;
	text-align: right;
}

#list .cell.size {
	width: 10ex;
	text-align: right;
}

#list .cell.sort {
	opacity: 0;
	text-align: center;
}

#list .cell.sort:hover {
	opacity: 1;
}

#list #rename {
	width: 20rem;
	display: flex;
	gap: 8px;
}

#list #rename input {
	width: 100%;
}

/* Files controls  */

nav #controls {
	margin: 1em 0;
}

nav #controls input {
	width: 100%;
}

nav #controls fieldset {
	border: none;
	margin: 4px 0;
}

nav #controls fieldset#filter-controls {
	display: flex;
	gap: 8px;
}

nav #controls #filter-controls label#additional-controls-toggle {
	margin-left: auto;
}

nav #controls #additional-controls {
	display: none;
	background-color: var(--controls-color);
	margin: 8px 0;
	padding: 8px;
}

nav input#additional-controls-toggle:checked ~ #additional-controls {
	display: block;
}

nav #additional-controls button {
	width: 100%;
	margin: 4px 0;
}

nav #additional-controls hr {
	margin: 10px;
}

nav #additional-controls a:hover {
	border-bottom: 1px solid;
}

/* Settings */

#settings form ul {
	padding: 0;
}

#settings form ul li {
	padding: 2px 4px;
}

#settings form .cell {
	min-width: 18em;
}

#settings form ul li:hover, #settings form details:hover {
	background-color: var(--row-hover-color);
}

#settings details#delete-account {
	padding: 2px 4px;
}

#settings details#delete-account[open] {
	background-color: var(--warning-bg-color);
}

/* layouts */

section {
	margin-bottom: 1em;
}

main:has(.cover) {
	padding: 0;
}

main:has(.cover) footer {
	padding: 2em;
}

.pad {
	padding: 2em;
}

.left {
	margin-right: auto;
}

.right {
	margin-left: auto;
}

.center {
	margin: auto;
}

.one-column {
	max-width: 46em;
}

.wide {
	max-width: 100%;
}

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18em, max-content));
	gap: 1em;
}

.gallery-grid > p {
	margin: 0;
}

.gallery-horizontal {
	display: flex;
	align-items: center;
	overflow-x: scroll;
	gap: 1em;
}

.gallery-horizontal > p {
	flex-grow: 0;
	flex-shrink: 0;
	width: 90%;
	margin: 0;
}

.gallery-2-columns {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
}

.gallery-columns, .gallery-3-columns {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1em;
}

.gallery-4-columns {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
}

.gallery-columns > p,
.gallery-2-columns > p,
.gallery-3-columns > p,
.gallery-4-columns > p {
	margin: 0;
}

.ratio-3x2 img,
.ratio-2x3 img,
.ratio-8x10 img,
.ratio-10x8 img,
.ratio-16x9 img,
.ratio-1x1 img {
	width: 100%;
	object-fit: cover;
}

.ratio-3x2 img { aspect-ratio: 3 / 2; }
.ratio-2x3 img { aspect-ratio: 2 / 3; }
.ratio-8x10 img { aspect-ratio: 8 / 10; }
.ratio-10x8 img { aspect-ratio: 10 / 8; }
.ratio-16x9 img { aspect-ratio: 16 / 9; }
.ratio-1x1 img { aspect-ratio: 1 / 1; }

.parallax {
	perspective: 1px;
	overflow-y: auto;
	height: calc(100vh - 4rem);
	background-color: inherit;
}

.parallax.cover {
	height: 100vh;
}

.parallax-bg {
	transform: translateZ(-1px) scale(2);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.parallax-fg {
	transform: translateZ(0);
	background-color: inherit;
}

/* Stats */

.stats table {
	margin-bottom: 1em;
}

.stats table tbody tr:hover {
	background-color: var(--row-hover-color);
}

.stats table td {
	width: 10em;
	max-width: 10em;
	white-space: nowrap;
}

.stats table td:first-child {
	width: auto;
	overflow-x: clip;
	text-overflow: ellipsis;
}

.stats table td:last-child {
	border-left: 1px solid;
}

/* tables */

.table a {
	border: 1px solid transparent;
}

.table a:hover {
	border-bottom-color: currentcolor;
}

.table .sort {
	border: 0;
}

.table .row {
	display: flex;
	gap: 1em;
}

.table .row ul {
	margin: 0;
}

.table .row .cell.name {
	flex-grow: 1;
}

.table details > summary::before {
	display: none;
}

.table code {
	background-color: initial;
}

/* decorations */

.button {
	cursor: pointer;	
}

.help-q {
	margin-left: 1em;
}

.help-q:before {
	content: "(";
}

.help-q:after {
	content: ")";
}

/* iOS bugs */

details > summary {
    list-style: none;
    cursor: pointer;
}

details > summary::before {
    content: "\25B8";
    display: inline-block;
    margin-right: 0.4em;
}

details[open] > summary::before {
    transform: rotate(90deg);
}

/* small screens landscape */

@media (max-width: 800px) {
	nav {
		position: fixed;
		width: 100%;
		visibility: hidden;
	}
	nav header {
		position: sticky;
		text-align: center;
		visibility: visible;
	}
	nav header > * {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
	main {
		padding-top: 5rem;
		padding-right: 2rem;
	}
	main:has(.cover) {
		padding: 0;
		padding-top: 5rem;
	}
	#files .cell.stat {
		display: none;
	}
	label#nav-toggle {
		display: block;
	}
	input#nav-toggle:checked ~ nav {
		z-index: 90;
		height: 100%;
		overflow-y: scroll;
		visibility: visible;
	}
	input#nav-toggle:checked ~ label#nav-toggle {
		transform: rotate(45deg);
	}				
	input#nav-toggle:checked ~ label#nav-toggle:before {
		content: "+";
	}
	#files details ul {
		flex-direction: column;
	}
}

/* small screens portrait */

@media (max-width: 420px) {
	:root {
		--drawer-height: 6rem;
	}
}

/* Local Variables: */
/* eval: (outline-minor-mode 1) */
/* outline-regexp: "\\/\\*" */
/* End: */
